<div class="title"><h1>{{title}}</h1></div>
<div class="toolbar" role="banner">            
    <div class="signIn">        
        <app-profile></app-profile>
        <ng-container *ngIf="(isAuthenticated$ | async) === false; else signout">            
            <a [routerLink]="" (click)="signIn()" >Sign in</a>
        </ng-container>

        <ng-template #signout>
            <a [routerLink]="" (click)="signOut()">Sign out</a>
        </ng-template>        
    </div>    
</div>
<!--if nav is needed enable it-->
<!--<nav>
    <a routerLink="/movies">Movies</a>
</nav>-->
<router-outlet></router-outlet>